/*Tipografias  */

$fuente:'Bakbak One',
cursive;
$fuenteTexto:'Sawarabi Gothic',
sans-serif;

/* Fin de tipografia */


/* paleta de colores */

$colores:( negro: black, verde: #728238, );

/* fin de colores */

$verde:#728238;
$negro:black;