@use'../base/variables' as v;
@use'../base/mixins' as m;
@use '../layout/productos' as p;

.display {
    display: none;
}
#cart{
    position: relative;
}

.boton{
    width: 100%;
    display: flex;
    
    justify-content: space-between;

    button{
        font-size: 1.5rem;
    }
}

.contenedor-cart{
    position: absolute;

    @include m.tablet {
        width: 50%;
    margin-top: 0;}

        width: 100%;
        margin: 0 auto;
        margin-top: 10rem;
        top: 50rem;
        
     
    
   
    right: 0rem;

    top: 15rem;
    z-index: 2;
  
   
  

}
.cart{
    z-index: 2;
    margin: 0 auto;
    background-color: white;

    @include m.tablet {
        width: 70%;}
        
     width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 3rem;
    padding: 1rem;

    .obj{
       
        right: 40rem;
        border: 1px solid #333;
        padding: 1.2rem;
        width: 100%;
        background-color: white;
        display: flex;
        border-radius: 1rem;
        
        gap: 1.5rem;

        align-items: center;

        img{
            width: 3rem;
            height: 3rem;
        }

        p{
            margin-top: 2rem;
            text-align: center;
        }
    }

    .precio-cart{
      font-size: 1.6rem;
      font-family: v.$fuente;
      color: v.$verde;
      
      }
      
   
}

